// Light Mode
$primary-light: #9f5cb2;
$primary-main: #650083;
$primary-dark: #40005d;
$primary-contrastText: #ffffff;
$red-error: #ff4d4d;

$secondary-light: #ffd0ff;
$secondary-main: #ff9eff;
$secondary-dark: #c36ec3;
$secondary-contrastText: #000000;

// Dark Mode
$dark-primary-light: #650083;
$dark-primary-main: #2b1a47;
$dark-primary-dark: #1a0e2e;
$dark-primary-contrastText: #ffffff;

$dark-secondary-light: #6e6e6e;
$dark-secondary-main: #424242;
$dark-secondary-dark: #2b2b2b;
$dark-secondary-contrastText: #ffffff;
